/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: Ubuntu, sans-serif;
    color: #000000;
}

h1 {
    font-size: 2.5rem;
    color: #000000;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 500px;
}

header, footer, footer a {
    text-align: center;
    background-color: #ffffff;
    color: whitesmoke;
}

header img {
    width: 300px;
    height: auto;
    float: right;
}

footer {
    font-size: .5rem;
}