@media only screen and (min-width: 60em) {

/* Main Navigation Styles */	
	.navigation {
		display: flex;
		justify-content: space-around;
	}

	.navigation li:first-child {
		display: none;
	}

	.navigation li {
		display: block;
		flex: 1 1 100%;
	}

/* Temples Page */
    .temple {
        display: flex;
	}
	
/* Services */
	.familyHistoryPhoto {
		text-align: center;
		padding: 25px;
		margin-top: 25px;
	}

	.babysittingPhoto {
		text-align: center;
		padding: 25px;
		margin-top: 85px;
	}

	.services {
		width: 450px;
	}

	#amenities {
		padding: 25px;
		padding-top: 0px;
		padding-bottom: 0px;
		display: flex;
	}

	#services {
		padding: 25px;
		padding-top: 0px;
		padding-bottom: 40px;
		display: flex;
	}

	/* Hidden Pages */
    #hiddenLinks {
        display: flex;
	}
	
	/* Missionaries */
	#listContact {
		display: flex;
	}

/* Contact Page */    
	.splitContact {
		display: flex;
	}

	#googleMap {
        margin: 40px;
    }

/* Other*/
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}

	section:nth-child(3) {
		grid-column: span 1;
	}

}