* {
    margin: auto;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 32px;
    color: #264653;
}

h1 {
    font-size: 1.5rem;
    text-align: left;
    font-family: 'Charm', cursive;
}

h2 {
    font-size: 1rem;
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
}

h3 {
    font-size: 1rem;
    text-align: left;
    font-family: 'Darker Grotesque', sans-serif;
}

header {
    background-color: #ffffff;
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
}

header,
footer,
footer a {
    text-align: center;
}

footer {
    color: #264253;
    font-family: 'Darker Grotesque', sans-serif;
    flex: 0 1 100%;
    font-size: 1rem;
}

/* Logo, Title, Tagline */
     #icon {
        width: 50px;
    }

    .heading {
        font-family:'Charm', cursive;
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    #title {
        font-size: 4rem;
    }

    #tagline {
        font-size: 1em;
        line-height: .5em;
        font-style: italic;
    }

/* Main Navigation Styles */
    nav #collapse {
        display: block;
        color: #264653;
    }

    nav {
        background-color: #ffffff;
        align-items: center;
    }

    .navigation {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        display: block;
        color: #264653;
        text-align: center;
        padding: .75rem;
        text-decoration: none;
        font-size: 1.1rem;
        font-family: 'Darker Grotesque', 'sans-serif';
        font-weight: bold;
    }

    .navigation li a:hover {
        color: #2A9D8F;
    }

    li .active {
        color: #000000;
    }

    .responsive li {
        display: block;
    }