* {
    margin: auto;
    box-sizing: border-box;
}

    body {
        font-size: 16px;
        line-height: 32px;
        color: #264653;
    }

    h1 {
        font-size: 1.5rem;
        text-align: left;
        font-family: 'Darker Grotesque', 'sans-serif';
    }

    h2 {
        font-size: 1rem;
        text-align: left;
        font-family: 'Darker Grotesque', sans-serif;
    }

    h3 {
        font-size: .5rem;
        text-align: left;
        font-family: 'Darker Grotesque', sans-serif;
    }

    p {
        font-family: 'Maitree', serif;
    }

    header {
        background-color: #ffffff;
    }

    header,
    nav,
    main,
    footer {
        margin: 1.25rem auto;
        padding: .5rem;
        max-width: 1000px;
    }

    header,
    footer,
    footer a {
        text-align: center;
    }

    footer {
        color: #264253;
        font-family: 'Darker Grotesque', sans-serif;
        flex: 0 1 100%;
        font-size: .75rem;
        font-weight: bold;
    }

/* Logo, Title, Tagline */
    #logo {
        width: 55px;
    }

    .heading {
        display: inline-block;
        vertical-align: bottom;
        text-align: center;
        padding-left: 30px;
        padding-bottom: 18px;
    }

    #title {
        font-size: 2rem;
        font-family:'Charm', cursive;
        font-style: italic;
        white-space: nowrap;
    }

/* Main Navigation Styles */
    nav #collapse {
        display: block;
        color: #264653;
    }

    nav {
        background-color: #ffffff;
        align-items: center;
    }

    .navigation {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
    }

    .navigation a {
        background-color: #CACAAA;
        display: block;
        color: #ffffff;
        text-align: center;
        padding: .75rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: 'Darker Grotesque', 'sans-serif';
        font-weight: bold;
    }

    .navigation li a:hover {
        color: #2A9D8F;
    }

    li .active {
        color: #264653;
    }

    .responsive li {
        display: block;
    }

/* Home Page */
    /* Call to Action */
    #callToAction {
        padding-left: 150px;
        padding-right: 150px;
        font-size: 1.1em;
        font-weight: bold;
    }

    #reservationLink {
        text-align: right;
        margin-top: 10px;
    }

    a {
        font-family: 'Darker Grotesque', 'sans-serif';
        text-decoration: none;
        font-size: 1.1em;
        color: #ffffff;
        background-color: #2A9D8F;
        padding: 10px;
        padding-top: 7px;
    }

    .tripleImageSpread {
        display: none;
    }

    /* Temple Summary */
    .templeSummary {
        background-color: #E9C46A;
        padding: 25px;
        margin-bottom: 25px;
        margin-top: 50px;
    }

    .idahoFalls {
        text-align: center;
    }

    #idahoFalls {
        width: 65%;
    }

    #templeSummary {
        text-align: left;
        padding-left: 50px;
        padding-right: 50px;
    }

    /* Contact */
    #contactTitle {
        text-align: center;
        font-size: 1.5em;
        line-height: .5em;
    }

    #contact {
        font-family: 'Darker Grotesque', 'sans-serif';
        text-align: center;
        align-content: center;
        background-color: #CACAAA;
        padding: 15px;
        padding-top: 10px;
        font-size: .8em;
        line-height: 1.75em;
    }

/* Temples Page */
    #temples {
        padding-left: 50px;
        padding-right: 50px;
    }

    .temple {
        display: inline;
    }

    .templePhotos {
        text-align: center;
        padding-top: 40px;
    }

    .templeInfo {
        padding: 15px;
    }

    .templeName {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 35px;
        padding-left: 35px;
    }

    .templeParagraph {
        padding-left: 35px;
    }

    .informationLink {
        text-align: right;
        margin-top: 10px;
        padding-bottom: 40px;
        font-weight: bold;
    }

/* Reservations Page */
    #onlineReservationForm {
        text-align: center;
        font-size: 2em;
    }

    .reservationForm {
        font-family: 'Darker Grotesque', 'sans-serif';
        display: block;
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 25px;
        margin: 50px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #reservation {
        border: solid 3px #264653;
        padding: 15px;
        padding-bottom: 0px;
        margin: 15px;

    }

    #personal {
        border: solid 3px #264653;
        padding: 15px;
        padding-bottom: 0px;
        margin: 15px;
    }

    .reportform label {
        display: flex;
        width: 200px;
    }

    .label {
        font-size: 1.25em;
        font-weight: bold;
    }

    .button {
        text-align: right;
    }

    #button {
    background-color: #2A9D8F;
    border: none;
    font-size: 1.1em;
    color: #ffffff;
    padding: 10px;
    padding-top: 7px;
    font-weight: bold;
    margin-right: 30px;
    }

/* Thank You and Thanks */
    #thanks {
        text-align: center;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 35px;
        font-size: 1.1em;
        font-weight: bold;
    }

/* Services */
    .familyHistoryPhoto {
        text-align: center;
        padding: 25px;
    }

    .babysittingPhoto {
        text-align: center;
        padding: 25px;
    }

    .services {
        width: 65%;
    }

    #amenities {
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 0px;
        display: inline;
    }

    #services {
        padding: 50px;
        padding-top: 0px;
        padding-bottom: 40px;
        display: inline;
    }

    .serviceInfo {
        padding-left: 50px;
        font-family: 'Darker Grotesque', 'sans-serif';
        font-size: 1.2em;
    }

    /* Hidden Pages */
    #hiddenLinks {
        display: inline;
    }

    .hiddenPage {
        background-color: #E9C46A;
        margin: 25px;
        padding: 25px;
        padding-top: 5px;
    }

    .hiddenPageLink {
        text-align: right;
        margin-top: 10px;
        font-weight: bold;
    }

    /* Missionaries */
    #listContact {
        display: inline;
    }

    #missionary {
        padding-top: 70px;
    }

/* Contact Page */    
    .splitContact {
        display: inline;
    }

    #contactForm {
        text-align: center;
        font-size: 2em;
    }

    .contactForm {
        font-family: 'Darker Grotesque', 'sans-serif';
        display: block;
        padding: 25px;
        padding-top: 0px;
        padding-bottom: 25px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    #form {
        border: solid 3px #264653;
        padding: 15px;
        padding-bottom: 0px;
        margin: 15px;
    }

    .contact label {
        display: flex;
        width: 200px;
    }

    .form {
        font-size: 1.25em;
        font-weight: bold;
    }

    .googleMap {
        text-align: center;
        padding-bottom: 40px;
    }