@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans+Condensed:300|Roboto+Condensed');

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle' sans-serif;
    font-size: ;
    color: ;
    text align: ;
}