@import url("https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans+Condensed:300|Roboto+Condensed&display=swap");

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle', sans-serif;
    font-size: 2em;
    color: #000000;
}

p {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle', sans-serif;
    font-size: 1em;
    color: #000000;
    text-align: left;
}

header {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle', sans-serif;
     text-align: center;
}

#phrase {
    font-size: 1em;
}

#icon {
    padding: 1em;
}

.motto {
  font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle', sans-serif;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}

nav {
    display: block;
    background-color: #157a6e;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
    overflow: hidden;
}
nav li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
    font-size: 0.95rem;
    font-family: 'Roboto Condensed', sans-serif;
}
nav a:hover {
	background-color: gray;
    color: #ffffff;
    ;
}
.active {
    columns: #000000;;
}

.placeholder, .forecastplaceholder {
    background-color: #849483;
    display: block;
    padding: 1.5em;
}