<style>
@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans+Condensed:300|Roboto+Condensed&display=swap');
</style>

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle' sans-serif;
    font-size: 2em ;
    color: #000000 ;
    text align: left ;
}

.dropbtn {
    background-color: #157a6e;
    color: white;
    padding: 12px 630px;
    font-size: 1.5em;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #000000);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #157a6e;}

img {
    max-width: 100%;
}