@import url('https://fonts.googleapis.com/css?family=News+Cycle|Open+Sans+Condensed:300|Roboto+Condensed');

.leftcol, .rightcol {
    max-width: 48%;
    flex: 1 0 15em;
    padding: 10px;
  }  

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle' sans-serif;
    font-size: 2em ;
    color: #000000 ;
    text align: left ;
}

nav {
    background-color: #157a6e;
    padding: 1em;
    margin-top: -200px;
  }

  nav a {
    color: #ffffff;
    line-height: 2em;
    padding: 1em 1em;
  }

  nav li {
    font-family: 'Roboto Condensed', 'Open Sans Condensed', 'News Cycle', sans-serif;
    font-size: 1.5em;
    display: inline-block;
    padding-left: 175px;
    list-style-type: none;
  }

  nav a:hover {
   background-color: #849483;
   color: #ffffff;
   border-radius: 5px;
   box-shadow: 5px 5px 5px black;
   }