body {
    font-family: Ubuntu, sans-serif;
    text-align: center;
}

table {
    border-spacing: 1px;
    border-color: #e7f0ed;
    border-collapse: collapse;
}


thead {
    font-size: 1.5em;
    color: #000000;
    background-color: #7fb9c2;
    padding: 15px;
}

tbody {
    padding: 15px;
}

tbody tr th {
    color: #ffffff;
    background-color: #628ca6;
}

tfoot {
    font-size: .5em;
    color: #000000;
    background-color: #7fb9c2;
    text-align: center;
    padding: 15px;
}