body {
    font-family: Ubuntu, sans-serif;
    display: inline-block;
}

h1 {
    text-align: center;
}

table {
    width: 300px;
    box-shadow: 5px 5px 10px #628ca6;
    border-spacing: 0;
    border-color: #e7f0ed;
    border-collapse: collapse;
}

table, th, td {
    border: solid 1px #cccccc;
}

thead, th, td, tfoot {
    padding: 10px;
}

thead {
    font-size: 1.5em;
    color: #000000;
    background-color: #7fb9c2;
    padding: 15px;
}

tbody {
    border-spacing: 1px;
    border-color: #e7f0ed;
    border-collapse: collapse;s
}

tbody tr th {
    color: #ffffff;
    background-color: #628ca6;
}

#goal {
    color: #ffffff;
    background-color: #628ca6;
}

tfoot {
    font-size: .6em;
    color: #000000;
    background-color: #7fb9c2;
    text-align: center;
    padding: 15px;
}

tbody tr:nth-child(odd){
    background-color:#e7ffed;
}
tbody tr:nth-child(even){
    background-color:#e7f0ed;
}
