@media only screen and (min-width: 32.5em){

	.navigation {
        display: flex;
        justify-content: space-around;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    
    .forecasttable {
        display: block;
    }

    #farming {
        width: 50%;
        height: auto;
        float: right;
        padding-left: 15px;
    }
	
	#map {
        width: 300px;
        height: 300px;
        display: block;
    }

    .gallery {
        align-content: center; 
        grid-template-columns: 1fr 1fr;
    }

    main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

}