* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    color: #000000;
}

h1 {
    font-size: 1.5rem;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 1rem;
    text-align: center;
    border-bottom: 1px solid #000000;
    font-family: 'Roboto Condensed', sans-serif;
}

h3 {
    font-size: 1rem;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 1000px;
}

header, footer, footer a {
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

header img {
    width: 300px;
    height: auto;
}

footer {
    font-size: .5rem;
}

img {
    width: 250px;
    height: auto;
    display: block;
}

/*Above this point is information that carried over from the home page. Below this point has to do with the grids.*/

main {
	max-width: 767px;
	margin: 0 auto;
}

main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}

main section {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0 1rem;
	background-color: #eee;
}
section:nth-child(2) {
	display: none;
	margin: 0.5rem;
}